In [40]:
import pandas as pd

In [41]:
df=pd.read_csv("WhatsApp Chat with Online Class Hope AI.txt",header=None,error_bad_lines=False,encoding='utf8')

b'Skipping line 130: expected 4 fields, saw 8\nSkipping line 343: expected 4 fields, saw 7\nSkipping line 664: expected 4 fields, saw 5\nSkipping line 666: expected 4 fields, saw 5\nSkipping line 1010: expected 4 fields, saw 5\nSkipping line 1337: expected 4 fields, saw 6\nSkipping line 1338: expected 4 fields, saw 6\nSkipping line 1346: expected 4 fields, saw 5\nSkipping line 1355: expected 4 fields, saw 9\n'

In [42]:
df.drop(columns=[2, 3], inplace=True)
df

,0,1
0,23/07/2023,6:16‚ÄØam - Messages and calls are end-to-end e...
1,23/07/2023,6:16‚ÄØam - Online Class Hope AI: *M.Manikandan...
2,üìÜ Customised Career Path Call has been Booked.,NaN
3,üìù *Meeting Details*,NaN
4,*Scheduled Time:* 03:45pm - Wednesday,July 26
...,...,...
1270,29/04/2024,9:15‚ÄØam - Manika: <Media omitted>
1271,29/04/2024,9:52‚ÄØam - Manika: <Media omitted>
1272,29/04/2024,9:56‚ÄØam - Manika: <Media omitted>
1273,07/05/2024,10:48‚ÄØpm - Manika: https://github.com/AI23man...
1274,11/05/2024,11:43‚ÄØam - Manika: https://github.com/AI23man...

In [43]:

df.columns=['Date','Chat']
Message=df["Chat"].str.split("-",n=1,expand=True)
df["Time"]=Message[0]
Message1=Message[1].str.split(":",n=1,expand=True)
df["Name"]=Message1[0]
df["Chat"]=Message1[1]
df=df[["Date","Time","Name","Chat"]]
df

,Date,Time,Name,Chat
0,23/07/2023,6:16‚ÄØam,Messages and calls are end-to-end encrypted. ...,None
1,23/07/2023,6:16‚ÄØam,Online Class Hope AI,*M.Manikandan* *!! Successfully your slot has...
2,üìÜ Customised Career Path Call has been Booked.,NaN,NaN,NaN
3,üìù *Meeting Details*,NaN,NaN,NaN
4,*Scheduled Time:* 03:45pm - Wednesday,July 26,None,None
...,...,...,...,...
1270,29/04/2024,9:15‚ÄØam,Manika,<Media omitted>
1271,29/04/2024,9:52‚ÄØam,Manika,<Media omitted>
1272,29/04/2024,9:56‚ÄØam,Manika,<Media omitted>
1273,07/05/2024,10:48‚ÄØpm,Manika,https://github.com/AI23mani/Time_Series_All_A...
1274,11/05/2024,11:43‚ÄØam,Manika,https://github.com/AI23mani/Time-Series-Analysis

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 4 columns):
Date    1275 non-null object
Time    1001 non-null object
Name    950 non-null object
Chat    943 non-null object
dtypes: object(4)
memory usage: 40.0+ KB

In [46]:
#!pip install nltk

Requirement already satisfied: nltk in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (3.8.1)
Requirement already satisfied: tqdm in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: click in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from nltk) (2024.4.16)
Requirement already satisfied: joblib in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: colorama in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from click->nltk) (0.4.6)
Requirement already satisfied: importlib-metadata in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from click->nltk) (4.11.3)
Requirement already satisfied: zipp>=0.5 in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from importlib-metadata->click->nltk) (3.11.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from importlib-metadata->click->nltk) (4.7.1)

In [47]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\MANIKA\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [48]:
dataset=df

In [49]:
dataset.dropna(inplace=True)

C:\Users\MANIKA\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
sid = SentimentIntensityAnalyzer()

In [54]:
senti=sid.polarity_scores(dataset['Chat'][1274])

In [55]:
senti

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [56]:
 def sentimentalAnalysis(data,columnname):
        
        #downloading vader_lexicon for the process
        import matplotlib.pyplot as plt
        import seaborn as sns
        "Importing Necessary Packeage"
        from nltk.sentiment.vader import SentimentIntensityAnalyzer
        sid = SentimentIntensityAnalyzer()
        
        "Deleting null pr empty value"
        data.dropna(inplace=True)
        
        "Checking for a comment"
        #sid.polarity_scores(data[columnname][93])
        
        "Creating respective columns"
        
        data['scores'] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText))
        data['compound']  = data['scores'].apply(lambda score_dict: score_dict['compound'])
        data['Negtive']  = data['scores'].apply(lambda score_dict: score_dict['neg'])
        data['Postive']  = data['scores'].apply(lambda score_dict: score_dict['pos'])
        data['Neutral']  = data['scores'].apply(lambda score_dict: score_dict['neu'])
        
        "Creating final pos or neg using compound score"
        data['comp_score'] = data['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')
        plt.clf()
        #comp=sns.countplot(x = 'comp_score', hue = 'Name', data = data, palette = 'magma')
        #comp.figure.savefig("date_charts.png")
        "Checking how many pos and neg"
        posneg=pd.DataFrame(data['comp_score'].value_counts())
        return posneg,data

In [57]:
pos,data_Senti=sentimentalAnalysis(dataset,columnname='Chat')

C:\Users\MANIKA\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\MANIKA\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MANIKA\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MANIKA\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MANIKA\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MANIKA\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MANIKA\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
data_Senti

,Date,Time,Name,Chat,scores,compound,Negtive,Postive,Neutral,comp_score
1,23/07/2023,6:16‚ÄØam,Online Class Hope AI,*M.Manikandan* *!! Successfully your slot has...,"{'neg': 0.0, 'neu': 0.632, 'pos': 0.368, 'comp...",0.6219,0.0,0.368,0.632,pos
12,25/07/2023,8:54‚ÄØpm,Manika,Please update my mail id,"{'neg': 0.0, 'neu': 0.635, 'pos': 0.365, 'comp...",0.3182,0.0,0.365,0.635,pos
13,25/07/2023,8:54‚ÄØpm,Manika,maridevamani90@gmail.com,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
14,25/07/2023,8:55‚ÄØpm,Manika,Tomorrow my schedule time,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
15,25/07/2023,8:55‚ÄØpm,Manika,Link still not come,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
...,...,...,...,...,...,...,...,...,...,...
1270,29/04/2024,9:15‚ÄØam,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
1271,29/04/2024,9:52‚ÄØam,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
1272,29/04/2024,9:56‚ÄØam,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
1273,07/05/2024,10:48‚ÄØpm,Manika,https://github.com/AI23mani/Time_Series_All_A...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
1274,11/05/2024,11:43‚ÄØam,Manika,https://github.com/AI23mani/Time-Series-Analysis,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos

In [59]:
pos

     comp_score
pos         931
neg          12

In [60]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [61]:
tfidf=TfidfVectorizer(max_df=0.95,min_df=2,stop_words='english')
dtm=tfidf.fit_transform(df["Chat"])

In [62]:
from sklearn.decomposition import NMF
nmf_model=NMF(n_components=5,random_state=42)
nmf_model.fit(dtm)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=5, random_state=42, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

In [63]:
for index,topic in enumerate(nmf_model.components_):
    results=([tfidf.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print(results)

['google', 'hello', 'hi', 'hopes', 'https', 'iam', 'great', 'yes', 'media', 'omitted']
['msz', 'hello', 'plz', 'ma', 'reply', 'yes', 'madam', 'thanks', 'ok', 'mam']
['kindly', 'send', 'tell', 'noted', 'link', 'ma', 'congratulations', 'dear', 'hi', 'manikandan']
['received', 'vijai', 'number', 'data', 'science', '10', 'audio', 'ramisha', 'deleted', 'message']
['mm', 'units', 'tell', 'thanks', 'ma', 'kindly', 'noted', 'madam', 'ok', 'sir']

In [64]:
topic_results=nmf_model.transform(dtm)
df["Topic"]=topic_results.argmax(axis=1)

C:\Users\MANIKA\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [65]:
df

,Date,Time,Name,Chat,scores,compound,Negtive,Postive,Neutral,comp_score,Topic
1,23/07/2023,6:16‚ÄØam,Online Class Hope AI,*M.Manikandan* *!! Successfully your slot has...,"{'neg': 0.0, 'neu': 0.632, 'pos': 0.368, 'comp...",0.6219,0.0,0.368,0.632,pos,2
12,25/07/2023,8:54‚ÄØpm,Manika,Please update my mail id,"{'neg': 0.0, 'neu': 0.635, 'pos': 0.365, 'comp...",0.3182,0.0,0.365,0.635,pos,4
13,25/07/2023,8:54‚ÄØpm,Manika,maridevamani90@gmail.com,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,4
14,25/07/2023,8:55‚ÄØpm,Manika,Tomorrow my schedule time,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,4
15,25/07/2023,8:55‚ÄØpm,Manika,Link still not come,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,4
...,...,...,...,...,...,...,...,...,...,...,...
1270,29/04/2024,9:15‚ÄØam,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,0
1271,29/04/2024,9:52‚ÄØam,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,0
1272,29/04/2024,9:56‚ÄØam,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,0
1273,07/05/2024,10:48‚ÄØpm,Manika,https://github.com/AI23mani/Time_Series_All_A...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,4
1274,11/05/2024,11:43‚ÄØam,Manika,https://github.com/AI23mani/Time-Series-Analysis,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,4

In [66]:
df["Topic"].value_counts()

0    549
4    188
1    111
2     49
3     46
Name: Topic, dtype: int64

In [67]:
#!pip install wordCloud

Requirement already satisfied: wordCloud in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (1.9.3)
Requirement already satisfied: numpy>=1.6.1 in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from wordCloud) (1.17.4)
Requirement already satisfied: matplotlib in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from wordCloud) (3.1.1)
Requirement already satisfied: pillow in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from wordCloud) (9.5.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from matplotlib->wordCloud) (1.4.5)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from matplotlib->wordCloud) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from matplotlib->wordCloud) (3.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from matplotlib->wordCloud) (0.11.0)
Requirement already satisfied: typing-extensions in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->wordCloud) (4.7.1)
Requirement already satisfied: six>=1.5 in c:\users\manika\anaconda3\envs\aiml\lib\site-packages (from python-dateutil>=2.1->matplotlib->wordCloud) (1.16.0)

In [68]:
dataset=df
from wordcloud import WordCloud
from nltk.corpus import stopwords
import nltk
import matplotlib.pyplot as plt
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\MANIKA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:

comment_words = []
stoplist = stopwords.words('english')
stoplist.extend(['omitted', 'voice','missed','call','video','deleted','media','message'])
wordcloudss="This function saves image"
dataset.index=range(dataset.shape[0])
for i in range(1,len(dataset)): 
    comment_words.append(dataset['Chat'][i])
    vv=" ".join(comment_words)          
    wordcloud = WordCloud(width = 800, height = 800, 
                                background_color ='white', 
                                      stopwords = stoplist, 
                                      min_font_size = 10).generate(vv)         
plt.figure(figsize = (9, 7), facecolor = None)
plt.imshow(wordcloud)
plt.axis("off") 
plt.tight_layout(pad = 0) 
plt.savefig('wordcloud.PNG')
plt.show() 
print("Successfully created")
wordcloudss="This function saves image"